<div class="d-flex justify-content-center my-4">
    <a routerLink="/new-log">
        <button type="button" class="btn btn-secondary">
            Create New Log
        </button>
    </a>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Type</th>
      <th scope="col">Start</th>
      <th scope="col">End</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let day of data">
      <th scope="row">{{ day.id }}</th>
      <td>{{ day.type }}</td>
      <td>{{ day.startTime.toLocaleString() }}</td>
      <td>{{ day.endTime.toLocaleString() }}</td>
    </tr>
  </tbody>
</table>
